version: '3.7'

services:
  orion-api:
    container_name: orion-api
    image: orion-api:dev
    build:
      context: .
      target: development
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 4444:4444
    command: npm run start:dev
    environment:
      ACCESS_TOKEN_SECRET: 4653fded569e817a85b3ca12f6245d316b1c483844a3b2719f903b7545b29aca
      REFRESH_TOKEN_SECRET: e3e2d32def52e4df67a9a38addd697d49318b5b04b3aca69efe119d5a013d5c0
      NODE_ENV: development
      SERVER_PORT: 4444
      DB_DATABASE: orion
      DB_CONNECTION_STRING: mysql://orion_root:j5m966qp7jiypfda@orion-mysql:3306
      CLIENT_URL: https://matheus-yudi-newrizon.github.io/review-reveal-web
      EMAIL_SERVICE: gmail
      EMAIL_USERNAME: bellatriximdb@gmail.com
      EMAIL_PASSWORD: ttul nlfm faec svhf
    networks:
      - orion-connect

  orion-mysql:
    container_name: orion-mysql
    image: mysql
    environment:
      MYSQL_USER: orion_root
      MYSQL_PASSWORD: j5m966qp7jiypfda
      MYSQL_ROOT_PASSWORD: m45ug42qkr5pdzbb
      MYSQL_DATABASE: orion
    ports:
      - 3306:3306
    volumes:
      - ~/docker/volumes/OrionApi_MySQL:/var/lib/mysql
    networks:
      - orion-connect
    logging:
      driver: none

networks:
  orion-connect:
    driver: bridge
